* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
p {
    opacity: 0.7;
}
button {
    border: none;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #021206;
    overflow-x: hidden;
}
.container {
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;
}
.col-3 {
    width: 25%;
    padding: 0 15px;
}
.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}
.col-5 {
    width: 44.666%;
    padding: 0 15px;
}
.col-7 {
    width: 55.333%;
    padding: 0 15px;
}
.header {
    padding-top: 35px;
}
.header.row {
    align-items: center;
}
.menu {
    text-align: center;
}
.menuItem {
    margin: 0 22px;
}
.menuLink {
    margin-top: 3px;
    display: none;
    cursor: pointer;
}
.menuLink:hover,
.headerLogin:hover {
    color: #F44545;
}
.overflow {
    overflow: hidden;
}
.headerAuth{
    text-align: right;
}
.headerLogin {
    padding-right: 23px;
}
.headerSignup {
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
    background-color: #F44545;
    border-radius: 6px;
    color: #ffff;
}
.headerSignup:hover {
    color: white;
    box-shadow: 5px 10px 10px rgba(80, 45, 45, 0.3);
    background-color: #ee3030;
}
.hero {
    padding-bottom: 50px;
}

.heroTitle {
    font-size: 53px;
    line-height: 81px;
    font-weight: 600;
    margin: 115px 0 25px;
}
.heroTitle span {
    background: -webkit-linear-gradient(#3EFFC0, #18CA90);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}
.heroTitle span:before {
    content: "";
    width: 18px;
    height: 8px;
    background: url("../images/points.png");
    right: -19px;
    bottom: 19px;
    position: absolute;
}
.heroInfo {
    font-weight: 400;
    font-size: 21px;
    line-height: 33px;
    margin-bottom: 30px;
}
.heroInfo span {
    font-weight: 500;
}
.feedbackForm {
    position: relative;
}
.hero .feedbackForm {
    margin-bottom: 35px;
}
.feedbackInput {
    font-family: inherit;
    width: 91%;
    font-style: inherit;
    padding: 19px 135px 19px 24px;
    font-size: 18px;
    line-height: 27px;
    border: none;
    filter:drop-shadow( 0 5px 10px rgba(0, 0, 0, 0.2));
    border-radius: 6px;
}
.feedbackBtn {
    position: absolute;
    top: 0px;
    right: 10%;
    bottom: 0px;
    background-color: #F44545;
    font-size: 21px;
    line-height: 31px;
    color: white;
    padding: 11px 33px;
    font-weight: 500;
    border-radius: 6px;
    margin: 6px 0;
    cursor: pointer;
}
.feedbackBtn:hover {
    color: white;
    background-color: #d03e3e;
}
.appsImg:first-child {
    margin-right: 30px;
}
.ourClients {
    background-color: rgba(142, 230, 201, 0.16);
    padding: 54px 0;
}
.ourClientsBlock {
    display: flex;
    justify-content: space-between;
}
.ourClientsBlock img {

}
.ourClientsBlock img:hover {
    /*transform: scale3d(2, 2, 2);*/
}
.col-6 {
    width: 50%;
    padding: 0 15px;
}
.feature {
    padding: 110px 0 70px;
}
.featureBox {
    border: 1px solid rgba(2, 18, 6, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 10px 30px 30px;
    margin-bottom: 30px;
}
.featureBox:hover {
    box-shadow: 0px 9px 10px 10px rgba(80, 45, 45, 0.2);
    border: none;
}
.settings,
.user,
.secured,
.code{
    width: 75px;
    height: 75px;
    padding: 20px;
    margin-bottom: 25px;
}
.feature img {
    width: 35px;
}
.settings {
    background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
    border-radius: 10px;
}
.user {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 10px;
}
.secured {
    background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
    border-radius: 10px;
}
.code {
    background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
    border-radius: 10px;
}
.featureBoxTitle {
    font-size: 21px;
    color: #021206;
    font-weight: 600;
    line-height: 31px;
    margin-bottom: 9px;
}
.featureBoxText {
    color: #021206;
    font-weight: 400;
    line-height: 25px;
}
.featureTitle,
.discoverTitle,
.servingInfoTitle,
.softwareInfoTitle,
.pricingTitle {
    font-size: 45px;
    color: #021206;
    font-weight: 600;
    line-height: 67px;
    margin-bottom:20px;
}
.featureText,
.discoverText,
.discoverList,
.servingInfoText,
.softwareInfoText,
.pricingText {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom:16px;
}
.featureText span,
.servingInfoText span{
    font-weight: 600;
}
.featureInfo {
    padding: 100px  32px;
}
.learnMore {
    display: inline-block;
    background-color: #282323;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: white;
    padding: 15px 40px;
    border-radius: 6px;
    margin: 13px 25px 0 0;
}
.learnMore:hover {
    color: white;
    box-shadow: 5px 10px 10px rgba(80, 45, 45, 0.3);
    background-color: #363333;
}
.ask {
    color: #FF4D4D;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}
.ask:hover {
    color: #FF4D4D;
}
.discoverInfo {
    padding: 75px 16px 0 75px;
    color: #021206;
}
.discoverListAll {
    padding-left: 30px;
}
.discoverList {
    position: relative;
    list-style: none;
    color: rgba(2, 18, 6, 0.71);
}
.discoverList:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../images/listIcon.png");
    left: -6%;
    top: 6%;
}
.servingInfo {
    padding: 115px 0 0 12px ;
}
.rtl {
    direction: rtl;
}
.software {
    background-color: rgba(142, 230, 201, 0.16);
    padding: 50px 0 115px;
}
.softwareImg {
    position: absolute;
    top: -55%;
    right: -20%;
}
.downloadLink {
    display: inline-block;
    background: #F44545;
    border-radius: 6px;
    padding: 15px 33px;
    color: white;
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    margin-top: 28px;
}
.pricing {
    text-align: center;
    padding-top: 110px;
}
.pricingText {
    line-height: 30px;
    margin-bottom: 40px;
}
.checkBox {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.checkBox p {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.checkBox input {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 29px;
    background-color: rgba(67, 221, 170, 1);
    margin: 0 15px;
    padding: 0 5px;
    border-radius: 6px;
    appearance: none;
    outline: none;
    transition: 0.5s;
}
.checkBox input:after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    margin: 6px 0;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 3px;
}
.checkBox input:checked:after {
    left: 35px;
}
.pricingSave {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 60px;
}
.pricingSave p {
    line-height: 14px;
    font-size: 18px;
    font-weight: 600;
    padding-right: 52px;
    position: relative;
    display: inline-block;
}
.pricingSave p:after {
    content: "";
    position: absolute;
    width: 44px;
    height: 27px;
    background: url("../images/Group-6.png");
    bottom: 43%;
    right: 2%;
}
.range-container {
    position: relative;
    margin-bottom: 93px;
}

input[type=range] {
    width: 100%;
    margin: 30px 0 18px;
    -webkit-appearance: none;
}

input[type=range] + label {
    background-color: rgba(40, 35, 35, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 5px 0;
    position: absolute;
    top: -25px;
    left: calc(50% - 40px);
    text-align: center;
    width: 80px;

}
input[type=range]:active {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background-color: rgba(67, 221, 170, 1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}

input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(67, 221, 170, 1);
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -7px;
    -webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
    opacity: 0.8;
}
input[type=range]::-moz-range-track {
    animate: 0.2s;
    background-color: rgba(67, 221, 170, 1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-moz-range-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(67, 221, 170, 1);
    cursor: pointer;
    height: 20px;
    width: 20px;
}
input[type=range]::-ms-track {
    animate: 0.2s;
    background-color: rgba(67, 221, 170, 1);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}
input[type=range]::-ms-thumb {
    background: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(67, 221, 170, 1);
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    box-sizing: border-box;
}

input[type=range]:active::-ms-fill-lower {
    background: rgba(67, 221, 170, 1);
}

input[type=range]:active::-ms-fill-upper {
    background: rgba(67, 221, 170, 1);
}
.pricing {
    margin-bottom: 120px;
}
.pricingBlock {
    position: relative;
}
.yellow:before {
    content: "";
    position: absolute;
    background: url("../images/circleYellow.png");
    width: 225px;
    height: 225px;
    bottom: 9%;
    left: -8%;
    z-index: -1;
}
.green:after {
    content: "";
    position: absolute;
    background: url("../images/circleGreen.png");
    width: 225px;
    height: 225px;
    top: 11%;
    right: -8%;
    z-index: -1;
}
.pricingCard {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 35px 0;
    background-color: white;
    z-index: 2;
}
.pricingCard:hover {
    box-shadow: 0px 9px 10px 10px rgba(80, 45, 45, 0.2);
    border: none;
}
.pricingCardTitle {
    font-size: 20px;
    line-height: 34px;
    font-weight: 600;
    color: rgba(2, 18, 6, 1);
    text-transform: uppercase;
    margin-bottom: 35px;
}
.pricingCardNumber {
    font-size: 43px;
    line-height: 43px;
    font-weight: 600;
    color: rgba(2, 18, 6, 1);
    margin-bottom: 35px;
}
.pricingCardList {
    list-style: none;
    text-align: start;
    margin-bottom: 42px;
}
.pricingCardList li {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 22px 36px 22px 60px;
    display: flex;
    justify-content: space-between;
}
.pricingCardList li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.pricingCardList li:before {
    content: "";
    position: absolute;
    background: url("../images/listIcon.png");
    width: 20px;
    height: 20px;
    left: 9%;
    top: 35%;
}
.pricingCardList p {
    display: inline-block;
    text-decoration: none;
    color:rgba(2, 18, 6, 0.71)
}
.pricingCardLink {
    border: 2px solid rgba(244, 69, 69, 0.4);
    border-radius: 6px;
    color: rgba(244, 69, 69, 1);
    font-weight: 500;
    line-height: 34px;
    font-size: 20px;
    padding: 13px 76px;
}
.footer {
    background-color: rgba(142, 230, 201, 0.16);
    padding: 50px 0;
}
.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footerInfo img,
.footerInfoTitle {
    margin-bottom: 22px;
}
.footerInfoTitle {
    font-size: 21px;
    line-height: 31px;
    font-weight: 500;
    color: rgba(2, 18, 6, 0.71)
}
.footerInfo p {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 25px;
}
.footerInfo a {
    display: inline-block;
    color: rgba(2, 18, 6, 0.71);
    margin-bottom: 10px;
}